
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
  
* { 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

body {
    --cor-da-fonte : rgba(0, 0, 0, 0.54);
    padding: 0;
    margin: 0;
    min-height: 100%;
    position: relative;
    color: var(--cor-da-fonte);
    line-height:1.5rem;
    font-size: .9rem;
    background-color:#FAFAFA;
/*  font - size: 14px;  
    font - weight: 400;
    background - color: #FCFCFC;  
    overflow - x: hidden!important;   */
}

/* font resizing

@media(max - width: 1366px) {
    body {
        font - size: 12px;
    }
}

@media(max - width: 1242px) {
    body {
        font - size: 10px;
    }
}

@media(max - width: 908px) {
    body {
        font - size: 8px;
    }
}

@media(max - width: 710px) {
    body {
        font - size: 13px;
    }
}

 */